@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-VariableFont_wdth.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: OpenSans;
  src: url(OpenSans-Italic-VariableFont_wdth.ttf);
  font-weight: 900;
  font-style: italic;
}